.DS_Store
.ftpquota
.htaccess
.htaccess.default
index.php
index.php.bckp
index-test.php
*.txt
*.zip
error_log
assets/*
logs/*
parking/*
protected/runtime/*
protected/config/*
themes/cmsnew/css/backup/*
themes/cmsnew/views/layouts/backup/*
upload/*
vendors/*


